# Puerto del servidor
PORT=3000

# Base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=store_db
DB_SYNCHRONIZE=true

# Credenciales Sandbox Pasarela de Pagos (Wompi)
GATEWAY_PUBLIC_KEY=pub_stagtest_...
GATEWAY_PRIVATE_KEY=prv_stagtest_...
GATEWAY_INTEGRITY_SECRET=stagtest_integrity_...
GATEWAY_EVENTS_SECRET=stagtest_events_...
GATEWAY_API_URL=https://api-sandbox.co.uat.wompi.dev/v1

# Configuración de Mapbox y Ubicación de la Tienda
MAPBOX_ACCESS_TOKEN=your_mapbox_access_token_here
STORE_LATITUDE=6.276887801451292
STORE_LONGITUDE=-75.58433727052517
STORE_ADDRESS=Cra 73B #75-171, Medellín, Robledo, Medellín, Antioquia

# Tarifas de negocio base (en centavos de COP)
# 1000 COP = 100000 centavos
BASE_FEE_IN_CENTS=300000

# Configuración Amazon SES
AWS_REGION=us-east-1
# Opcional si se usan credenciales del sistema / IAM Role:
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
SES_SOURCE_EMAIL=dynamitesoftware21@gmail.com
